@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Heading Section */

.the-heading {
  height: 800px;
  background-image: linear-gradient(
      0deg,
      #101010 -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../make-essential-UI-components-Resources-main/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  color: #ffffff;
  font-family: "Work Sans";
  font-size: 32px;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 16px;
}

.heading-discription {
  width: 1000px;
  color: #ffffff;
  font-family: "Work Sans";
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}

.heading-para {
  width: 1023px;
  color: #ffffff;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 32px;
}

.btn {
  width: 282px;
  height: 65px;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-family: "Work Sans";
  background-color: #52c303;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
}

/* The body */

.the-body {
  margin-top: 100px;
  margin-bottom: 50px;
}

.body-food-description {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.body-heading {
  color: #101010;
  font-size: 24px;
  font-weight: 500;
  font-family: "Work Sans";
  opacity: 0.6;
  margin-bottom: 16px;
}

.body-heading-offer {
  width: 691px;
  text-align: center;
  color: #101010;
  font-size: 48px;
  font-weight: 700;
  font-family: "Work Sans";
  margin-bottom: 48px;
}

.body-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-size {
  width: 424px;
  height: 283px;
  margin-bottom: 32px;
}

.card-body {
  margin-right: 24px;
}

.card-body-des {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-size {
  width: 424px;
  height: 522px;
}

.food-name {
  padding: 14px 32px;
  color: #101010;
  border: 8px;
  text-align: center;
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  margin-bottom: 24px;
}

.food-offer {
  color: #101010;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
  font-family: "Work Sans";
}

.food-description {
  color: #101010;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  text-align: center;
}

.body-btn-center {
  text-align: center;
  margin-bottom: 150px;
}

/* lower body */

.lower-body1 {
  display: flex;
}

.lower-body2 {
  padding: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.lower-body2-heading {
  width: 805px;
  color: #101010;
  font-family: "Work Sans";
  font-size: 48px;
  font-weight: 700px;
  text-align: center;
  margin-bottom: 24px;
}

.lower-body2-heading-des {
  color: #101010;
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 500px;
  opacity: 0.6;
  margin-bottom: 48px;
}

.follow {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -35px;
  color: #101010;
  font-size: 32px;
  font-weight: 600;
  font-family: "Work Sans";
  opacity: 0.7;

}

.social-div{
  margin-top: 32px;
}

.social{
  margin-right: 32px;
}

hr{
  width: 940px;
}